@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    text-align: center;
    padding: 25px 0;
}

#header #logo {
    width: 300px;
    object-fit: cover;
}

#header ul {
    background-color: #ebebeb;
    padding: 10px;
    margin-top: 1.5em;
}

#header ul li {
    display: inline;
    margin-left: 30px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #666;
    font-weight: 600;
}

#header ul li a {
    text-decoration: none;
    color: #333;
}
#header ul li a:hover {
    color: #999;
}

#content {
    background-image: url(1/images/porche-home_02.jpg);
    float: left;
    height: 1085px;
    width: 1360px;
    background-repeat: no-repeat;
}
#content2 {
    background-image: url(1/images/porche-home_03.jpg);
    float: left;
    height: 354px;
    width: 1360px;
    background-repeat: no-repeat;
}
#footer {
    background-image: url(1/images/porche-about-us_03.jpg);
    float: left;
    height: 296px;
    width: 1360px;
    background-repeat: no-repeat;
}
#content1index {
    background-image: url(1/images/porche-home_02.jpg);
    float: left;
    height: 1085px;
    width: 1360px;
    background-repeat: no-repeat;
}

#content {
    background-image: url(1/images/porche-about-us_02.jpg);
    float: left;
    height: 1439px;
    width: 1360px;
    background-repeat: no-repeat;
}
#content {
    margin: 0px;
}
#content p {
    margin-top: 379px;
    font-size: 24px;
    margin-right: 20px;
    margin-left: 20px;
}
#t2 {
    margin-top: 5px;
}
#t2 {
    margin-top: 40px;
}
#content #t2 {
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#t2 p {
    margin-top: 410px;
    margin-right: 30px;
    margin-bottom: 30px;
}
#content7 {
    background-image: url(1/images/porche-about-us_02.jpg);
    float: left;
    height: 1439px;
    width: 1360px;
    background-repeat: no-repeat;
}
#contentaboutus {
    background-image: url(1/images/porche-about-us_02.jpg);
    float: left;
    height: 1439px;
    width: 1360px;
    background-repeat: no-repeat;
}
#contentaboutus p {
    margin-top: 170px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30px;
    margin-left: 30px;
}
#t2 .para {
}
#content {
    background-image: url(1/images/porche-gallery_02.jpg);
    float: left;
    height: 1448px;
    width: 1360px;
    background-repeat: no-repeat;
}
#content4 {
    background-image: url(1/images/porche-gallery_02.jpg);
    float: left;
    height: 300px;
    width: 1360px;
    background-repeat: no-repeat;
}
#content5 {
    background-image: url(1/images/porche-Lifestyle_02.jpg);
    float: left;
    height: 1439px;
    width: 1360px;
    background-repeat: no-repeat;
}

#content {
    background-image: url(1/images/porche-Lifestyle_02.jpg);
    background-repeat: no-repeat;
    float: left;
    height: 1439px;
    width: 1360px;
}
#content1index h1 {
    color: #fff;
    font-size: 50px;
    margin-top: 150px;
    margin-left: 600px;
}
#content5 h1 {
    font-size: 50px;
    color: #fff;
    margin-top: 200px;
    margin-left: 600px;
}
#content4 h1 {
    font-size: 50px;
    color: #fff;
    margin-top: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
    margin-left: 600px;
}

#contentaboutus h1 {
    font-size: 50px;
    color: #fff;
    margin-top: 150px;
    margin-left: 600px;
}
#content2 ul li {
    display: inline;
    word-spacing: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    float: none;
    margin-left: 175px;
}
#content2 ul {
    margin-top: 240px;
    margin-left: -60px;
}
#ft2 {
    background-image: url(1/images/images/porche-gallery_03.jpg);
    background-repeat: no-repeat;
    float: left;
    height: 284px;
    width: 1360px;
    color: #fff;
}
#ft2 p {
    margin-top: 130px;
    margin-left: 555px;
}
#ftd {
    background-image: url(1/images/images/porche-gallery_03.jpg);
    background-repeat: no-repeat;
    float: left;
    height: 284px;
    width: 1360px;
    color: #fff;
    margin-top: 570px;
}
#ftd p {
    margin-top: 130px;
    margin-left: 555px;
}

/* Newly added styles */

