* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    text-align: center;
    padding: 25px 0;
}

#header #logo {
    width: 300px;
    object-fit: cover;
}

#header ul {
    background-color: #ebebeb;
    padding: 10px;
    margin-top: 1.5em;
}

#header ul li {
    display: inline;
    margin-left: 30px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #666;
    font-weight: 600;
}

#header ul li a {
    text-decoration: none;
    color: #333;
}
#header ul li a:hover {
    color: #999;
}

#hero-wrapper {
    position: relative;
    width: 100%;
}

#hero-img {
    width: 100%;
    object-fit: cover;
}

#hero-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

#drive-wrapper {
    position: relative;
    width: 100%;
}

#drive-img {
    width: 100%;
    object-fit: cover;
}

#drive-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    font-weight: bold;
}

.purchase-wrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0px 20px;
    margin-top: 5em;
}

.purchase-title {
    margin-bottom: 0.8em;
    font-size: 22px;
}

.purchase-grid-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.purchase-img {
    width: 100%;
    object-fit: cover;
}

.purchase-btn {
    outline: none;
    border: none;
    background-color: #333;
    color: white;
    font-weight: 600;
    padding: 10px;
    margin-top: 2em;
}

.footer {
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 120px 20px;
    margin-top: 5em;
}

.footer-txt {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

/* ABOUT US STYLES */

.aboutus-header {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.aboutus-header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutus-header-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    font-weight: bold;
}

.aboutus-img {
    width: 100%;
    object-fit: cover;
}

.aboutus-txt-wrapper {
    width: 100%;
    max-width: 1600px;
    margin: 1.5em auto;
    padding: 0px 20px;
    font-size: 20px;
    line-height: 35px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
